.todo-list {
  list-style: none;
  width: 100%;
  margin-top: 4rem;
}

.todo-list li {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #484c69;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 8px;

  /* Quebra a linha quando chega no limite */
  word-wrap: break-word;
}
