.form-wrapper {
  width: 100%;
}

.form-wrapper input {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
}

.form-wrapper input::placeholder {
  color: #aaa;
}

.form-wrapper input:focus {
  outline: none;
}

.form-wrapper button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #4eb879;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.form-wrapper button:hover {
  background-color: #3b9961;
  cursor: pointer;
}

.form-wrapper button:focus {
  outline: none;
}
